@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-countdown {
  animation-name: countdown;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.animate-countdown.paused {
  animation-play-state: paused;
}

@keyframes countdown {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}